#logo {
	position: fixed;
    left:505px;
    top: 179px;
}

#field {
	float:center; 
	width:605px; 
	height:33px; 
	line-height:27px;
	text-indent:10px; 
	font-family:arial, sans-serif; 
	font-size:1em; 
	color:#333; 
	background: #fff; 
	border:solid 1px #d9d9d9; 
	border-top:solid 1px #c0c0c0; 
}

#searchContainer {
	position: fixed;
	left:375px;
    top: 390px;
}